@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800&display=swap');
/* Start Var */

:root {
    --second-color: #232B38;
    --primary-color: #EEBF00;
    --light-color: #F0F0F0;
}

/* End Var */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Raleway";
    transition: .2s linear;
}

/* Start Container */

.container {
    padding: 0 7%;
    margin: 0 auto;
}

/* End Container */

/* Start Navbar */

header {
    background-color: var(--second-color);
    color: #FFF;
    padding: 14px 0;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 991px) {
    header .container {
        display: none;
    }
}

header .icon {
    font-size: 30px;
    display: none;
    user-select: none;
}

@media (max-width: 991px) {
    header .icon {
        display: block;
        margin-left: 70px;
        cursor: pointer;
    }
}

header .container .socail-media i {
    padding: 0 5px;
    cursor: pointer;
}

header .container .form {
    display: flex;
}

header .container .form div {
    margin: 0 10px;
    font-weight: bold;
    cursor: pointer;
}

header .container .form div span {
    margin-left: 10px;
}

header .container .form div i {
    margin-right: 10px;
}

.shadow {
    margin: 0;
    position: relative;
    z-index: 999;
    background-color: #FFF;
    box-shadow: 1px 3px 10px #DCC;
}

.logos {
    padding: 15px 0;
}

section .yellow {
    color: var(--primary-color);
    margin-right: 12px;
}

section .h5 {
    font-weight: bold;
}

section .lead {
    font-weight: bold;
    color: #888;
    margin-top: 5px;
}

@media (max-width: 767px) {
    .logos {
        display: none;
    }
}

@media (max-width: 991px) {
    nav {
        display: none;
    }
    .show {
        display: block;
    }
}

nav .container ul {
    padding: 15px 0;
}

nav .container ul li a {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    padding: 15px;
    transition: .5s;
    cursor: pointer;
}

@media (max-width: 991px) {
    nav .container ul {
        position: relative;
        z-index: 999;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }
}

nav .container ul li a.active, nav .container ul li a:hover {
    background-color: var(--primary-color);
    color: #FFF;
}

@media (max-width: 991px) {
    nav .container ul li {
        margin: auto;
        padding: 20px 0;
    }
    nav .container ul li a.active {
        background-color: #FFF;
        color: var(--primary-color);
    }
}

@media (max-width: 767px) {
    nav .container ul li {
        background-color: transparent;
        color: var(--primary-color);
    }
    nav .container ul li a.active {
        color: var(--primary-color);
    }
}

/* End NavBar */

/* Start Landing */

.first {
    background-image: url(../images/hero.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

@media (max-width: 991px) {
    .first {
        height: 140vh;
        text-align: center;
        margin: auto;
    }
}

@media (max-width: 767px) {
    .first {
        height: 120vh;
    }
}

@media (max-width: 450px) {
    .first {
        height: 100vh;
    }
}

.first .content {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    margin-top: 40px;
}

@media (max-width: 991px) {
    .first .content {
        flex-direction: column;
        margin: 20% auto;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
}

.first .content .img-1 {
    margin-left: 15px;
}

.first .content h1 {
    font-size: 40px;
}

@media (max-width: 991px) {
    .first .content h4 {
        justify-content: center;
    }
}

.first .content h1 span {
    color: var(--primary-color);
}

.first .content .btn {
    margin-top: 15px;
    margin-right: 5px;
    color: #FFF;
    font-weight: 500;
    padding: 10px 12px;
    border-radius: 4px;
    transition: .2s;
    cursor: pointer;
}

.first .content .btn:first-of-type {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.first .content .btn:last-of-type {
    background-color: var(--second-color);
    border: 1px solid var(--second-color);
}

.first .content .btn:hover {
    background-color: #FFF;
}

.first .content .btn:first-of-type:hover {
    color: var(--primary-color);
}

.first .content .btn:last-of-type:hover {
    color: var(--second-color);
}

.first .content .img {
    width: 40%;
}

@media (max-width: 991px) {
    .first .content .img {
        width: 80%;
        margin: 30px auto;
    }
}

.first .content .img img {
    width: 100%;
}

/* End Landing */

/* Start products */

.products {
    background-color: var(--light-color);
    padding-bottom: 50px;
}

.products .flex-And-space {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
    text-align: center;
}

@media (max-width: 991px) {
    .products .flex-And-space {
        justify-content: center;
    }
}

.products .flex-And-space .card {
    background-color: #FFF;
    max-width: 50%;
    padding: 20px 40px;
}

@media (max-width: 991px) {
    .products .flex-And-space .card {
        max-width: 70%;
    }
}

@media (max-width: 767px) {
    .products .flex-And-space .card {
        max-width: 100%;
    }
}

.products .flex-And-space .img {
    width: 250px;
    object-fit: cover;
    margin: 0 auto;
    padding: 20px;
}

.products .flex-And-space .img img {
    width: 100%;
}

.products .flex-And-space div i {
    margin: auto;
    color: var(--primary-color);
}

.products .flex-And-space .card .info {
    border-top: 1px solid #ccd;
    margin: 15px 0;
    padding: 15px 0;
}

.products .flex-And-space .card .info h4 {
    margin: 10px 0;
    font-weight: 900;
    font-size: 20px;
}

.products .flex-And-space .card .info .price {
    color: #f05;
    font-weight: bold;
    margin: 10px 0;
}

.products .flex-And-space .card .info button {
    background-color: #FFF;
    border: 2px solid var(--primary-color);
    border-radius: 4px;
    padding-right: 20px;
    transition: .3s;
    cursor: pointer;
}

.products .flex-And-space .card .info button:hover {
    color: #FFF;
    background-color: var(--primary-color);
}

.products .flex-And-space .card .info button i {
    background-color: var(--primary-color);
    color: #FFF;
    padding: 10px;
    margin-right: 10px;
}

.products .flex-And-space .card .info button span {
    text-align: center;
}

.products .container .btn {
    background-color: var(--second-color);
    color: #FFF;
    font-size: 20px;
    border-radius: 4px;
    border: none;
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    cursor: pointer;
    transition: .3s;
}

.products .container .btn:hover {
    background-color: #FFF;
    color: var(--second-color);
    border: 1px solid var(--second-color);
}

/* End products */

/* Start about */

.about .d-flex-All-Center .img img {
    min-width: 100%;
}

@media (max-width: 767px) {
    .about .d-flex-All-Center .img img {
        max-width: 100%;
    }
}

@media (max-width: 991px) {
    .about .d-flex-All-Center {
        flex-direction: column;
    }
}

.about .d-flex-All-Center:last-child h3 {
    color: var(--second-color);
    font-size: 22px;
}

@media (max-width: 767px) {
    .about .d-flex-All-Center:last-child h3 {
        font-size: 18px;
    }
}

.about .d-flex-All-Center:last-child p {
    margin: 30px 0;
    line-height: 1.8;
    font-size: 18px;
}

@media (max-width: 991px) {
    .about .d-flex-All-Center:last-child p {
        margin: 10px 0;
    }
}

.about .d-flex-All-Center:last-child .btn {
    background-color: var(--second-color);
    color: #FFF;
}

/* End about */

/* Start services */

.services {
    background-color: var(--light-color);
    margin-top: 20px;
    padding-bottom: 60px;
}

.services .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    gap: 40px;
}

@media (max-width: 767px) {
    .services .grid {
        gap: 60px;
    }
}

@media (max-width: 767px) {
    .services .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

.services .grid div {
    background-color: #FFF;
    padding: 0 15px 15px 15px;
    border-radius: 4px;
}

.services .grid div img {
    transform: translateY(-45px);
}

.services .grid div p {
    margin: 14px 0;
    line-height: 1.4;
}

.services .grid div .btn {
    background-color: var(--second-color);
    color: #FFF;
    font-size: 18px;
}

.services .grid div .btn:hover {
    background-color: #FFF;
    color: var(--second-color);
    border: 1px solid var(--second-color);
}

.services .grid div .primary {
    background-color: var(--primary-color);
}

.services .grid div .primary:hover {
    background-color: #FFF;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.services .grid .flip {
    transition: 2s;
    transform: rotate(360deg)
}

/* End services */

/* Start Timing */

.week {
    background-image: url(../images/food-table.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 500px;
    position: relative;
    text-align: center;
}

@media (max-width: 835px) {
    .week {
        height: 700px;
    }
}

.week .text-img {
    color: #FFF;
}

.week::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 1, 1, 0.7);
}

.week .container {
    position: relative;
}

.week .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}

@media (max-width: 835px) {
    .week .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.box {
    width: 200px;
    height: 240px;
    text-align: center;
    margin: auto;
}

.hours, .minutes, .seconds, .amorpm {
    background-color: var(--primary-color);
    padding: 2em 1em;
    margin: 1em;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    box-shadow: 1px 3px 5px var(--primary-color), -1px -3px 5px var(--primary-color);
}

#hours, #minutes, #seconds, #amorpm {
    font-size: 2em;
    color: white;
}

.box>h1 {
    font-size: 1em;
    color: white;
}

/* End Timing */

/* Start blog */

.blog {
    background-color: var(--light-color);
    padding: 40px 0;
}

.blog .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

@media (max-width :991px) {
    .blog .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

.blog .grid .d-flex {
    flex-direction: column;
    background-color: #FFF;
}

.blog .grid .d-flex .img {
    width: 100%;
}

.blog .grid .d-flex .img img {
    width: 100%;
}

.blog .grid .d-flex .content {
    padding: 30px 20px;
}

.blog .grid .d-flex .content h3 {
    margin: 15px 0;
}

.blog .grid .d-flex .content p {
    line-height: 1.5;
}

.blog .container .btn {
    display: block;
    margin: 20px auto 40px;
    background-color: var(--second-color);
    color: #FFF;
    border: 1px solid var(--second-color);
}

.blog .container .btn:hover {
    background-color: transparent;
    color: var(--second-color);
}

/* End blog */

/* Start sub */

.sub {
    background-color: var(--primary-color);
    padding: 40px 0;
}

@media (max-width: 991px) {
    .sub .d-flex-All-Center {
        flex-direction: column;
        text-align: center;
    }
}

.sub .d-flex-All-Center .img {
    min-width: 50%;
}

.sub .d-flex-All-Center .img img {
    width: 100%;
}

.sub .d-flex-All-Center div h3 {
    font-size: 24px;
}

.sub .d-flex-All-Center div p {
    line-height: 1.5;
    margin: 20px 0;
    font-weight: 500;
}

.sub .d-flex-All-Center div form {
    display: flex;
    max-width: 400px;
}

@media (max-width: 991px) {
    .sub .d-flex-All-Center div form {
        margin: auto;
    }
}

.sub .d-flex-All-Center div form input[type="email"] {
    width: 75%;
    padding: 12px 20px;
    border: none;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.sub .d-flex-All-Center div form input[type="submit"] {
    width: 25%;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    background-color: #F05;
    color: #FFF;
}

.sub .d-flex-All-Center div form input[type="submit"]:hover {
    background-color: var(--second-color);
}

/* End sub */

/* Start Content */

.grid {
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid .center {
    margin: auto;
}

.grid .d-flex-And-Align div {
    margin: 14px 0;
}

.grid .d-flex-And-Align div img {
    margin-right: 10px;
}

.grid .d-flex-And-Align div h4 {
    margin-bottom: 5px;
}

.grid .map img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 767px) {
    .grid .map img {
        display: none;
    }
}

/* End Content */

/* Start Footer */

footer {
    background-color: #2D333F;
    margin-top: 20px;
    padding-top: 40px;
    color: #FFf;
}

footer .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    text-align: center;
}

@media (max-width: 991px) {
    footer .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px) {
    footer .container {
        grid-template-columns: repeat(1, 1fr);
    }
}

footer .container .border {
    border-bottom: 1px solid var(--primary-color);
    padding: 15px 0;
}

footer .container .btn {
    background-color: var(--second-color);
}

footer .container .btn:hover {
    background-color: #FFF;
    color: var(--second-color);
}

footer .container p {
    padding-top: 15px;
    line-height: 1.8;
}

footer .container div ul li {
    margin: 20px 0;
    cursor: pointer;
}

footer .container div ul li i {
    margin-right: 15px;
}

footer .container div ul li:hover {
    color: var(--primary-color);
}

footer .container div .img {
    margin-top: 20px;
}

footer .container div .img img {
    width: 30%;
}

footer .copy {
    background: var(--second-color);
    padding: 15px 0;
    text-align: center;
    font-size: 13px;
}

footer .copy span {
    color: var(--primary-color);
}

/* End Footer */

/* Start Component */

.d-flex {
    display: flex;
}

.d-flex-All-Center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-flex-And-space {
    display: flex;
    justify-content: space-between;
}

.d-flex-And-Align {
    display: flex;
    align-items: center;
}

.text-img {
    width: 100%;
    text-align: center;
    padding: 70px 0;
}

.text-img h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.btn {
    margin-top: 15px;
    margin-right: 5px;
    color: #FFF;
    font-weight: 500;
    padding: 10px 12px;
    border-radius: 4px;
    transition: .2s;
    cursor: pointer;
    border: none;
}

/* End Component */
